@charset 'UTF-8';

main .sub {
    background: url('../img/reference/bg-reference.jpg') no-repeat 50% 50%;
    background-size: cover;
}
.tab {
  background: #F2F4F8;
  height: 76px;
  position: relative;
  z-index: 99;
}
.top-tab {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
}
.tab button {
  font-size: 1.4rem;
  font-weight: 500;
  height: 76px;
  border-radius: 8px;
  flex: 0 0 auto;
  white-space: nowrap;
  display: flex;
  padding: 0 20px;
  color: var(--gray-500);
  line-height: 1.4;
  align-items: center;
}
.tab button:hover {
  color: var(--gray-700);
}
.tab button.active {
  color: var(--white-0);
  background: var(--gray-900);
  font-weight: 600;
  height: 60px;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.24);
}
.tabcontent .product-reference p {
  font-size: 1.4rem;
  color: var(--gray-700);
  line-height: 1.8;
  border-top: 2px solid var(--gray-900);
  padding-top: 24px;
}

/* Rexnord */

.table {
  margin-bottom: 60px;
}
.table .tabcontent .sub-tab {
  height: 50px;
  line-height: 50px;
  background: var(--gray-100);
  display: flex;
}
.table .tabcontent .sub-tab button {
  background-color: var(--gray-100);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
  color: var(--gray-600);
  border-bottom: 1px solid var(--gray-700)
}
.table .tabcontent .sub-tab button.active {
  background-color: #fff;
  border-width: 1px 1px 0 1px;
  border-color: var(--gray-700);
  border-style: solid;
  color: var(--gray-900);
}
.table .tabcontent .sec-txt {
  margin-bottom: 24px;
}
.table .sub-tabcontent {
  width: 100%;
}

/* Hanel */
.hanel .sub-tabcontent {
  overflow: auto;
}
.hanel table {
  margin-top: 0px;
}
.hanel .sec-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hanel .sec-txt .reference-view {
  width: 140px; height: 40px;
  border: 1px solid var(--gray-300);
  color: var(--gray-600);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}
.hanel .sec-txt .reference-view a {
  position: relative;
}
.hanel .sec-txt .reference-view a::after {
  content: " ";
  display: inline-block;
  width: 18px; height: 18px;
  background: url('../img/product/ico-arrow-right-gr.svg') no-repeat 50%;
  background-size: cover;
  margin-left: 8px;
  vertical-align: sub;
}

/* Raeder Vogel */
.table .raeder .sub-tabcontent .img-content img {
  width: 100%;
  margin: 24px 0;
}
.table .raeder .sub-tabcontent table {
  margin-top: 0;
  min-width: 0;
  text-align: left;
}
.table .raeder .sub-tabcontent .mo table th {
  background: #F2F4F8;
  padding: 12px 8px;
  font-size: 1.6rem;
  border-bottom: none;
}
.table .raeder .sub-tabcontent table tr td:first-child {
  padding: 24px 8px;
  background-color: var(--white-0);
}
.table .raeder .sub-tabcontent table tr td p {
  font-size: 1.5rem;
  font-weight: 500;
}
.table .raeder .sub-tabcontent table tr td span {
  display: block;
  color: var(--gray-700);
  margin-top: 4px;
}
.table .raeder .sub-tabcontent table:last-child {
  border-top: none;
}


/********** MO(821 - 1023) **********/
@media screen and (min-width: 821px) {
  .table {
    margin-bottom: 0;
  }
  .table .raeder .sub-tabcontent table:last-child {
    border-top: 2px solid var(--gray-900);
  }
  .table .raeder .sub-tabcontent table th {
    background: var(--gray-100);
    border-bottom: 1px solid var(--gray-700);
  }
  .table .raeder .sub-tabcontent table {
    text-align: center;
  }
  .table .raeder .sub-tabcontent table tr td:first-child {
    font-weight: 400;
  }
  .table .raeder .sub-tabcontent table td.category {
    font-weight: 700 !important;
    background: #F2F4F8 !important;
  }
  .table .raeder .sub-tabcontent table td.category-line {
    border-top: 2px solid var(--gray-900);
  }
  .table .raeder .sub-tabcontent table td.gr {
    background-color: var(--gray-100) !important;
  }
  .top-tab {
    gap: 20px;
  }
  .tabcontent .product-reference p {
    font-size: 1.5rem;
  }
  .hanel .sec-txt .reference-view {
    width: 170px; height: 52px;
    font-size: 1.6rem;
    line-height: 52px;
  }
} /*821*/

/********** MO(1025 - 1440) **********/
@media screen and (min-width: 1025px) {
  .tab button {
    height: 80px;
    font-size: 1.6rem;
    width: calc(100% / 6 - 20px);
    justify-content: center;
  }
  .table .tabcontent .sub-tab {
    height: 60px;
  }
  .table .tabcontent {
    margin-top: 30px;
  }
  .table .tabcontent .sub-tab button {
    font-size: 1.8rem;
  }
  .tab {
    height: 80px;
  }
  .tabcontent .product-reference p {
    font-size: 1.6rem;
  }
  .top-tab {
    padding: 0 60px;
    justify-content: space-between;
    margin: 0;
    gap: 20px;
  }
}

/********** MO(1441 ~) **********/
@media screen and (min-width: 1441px) {
  .table .tabcontent .sub-tab {
    height: 80px;
  }
  .top-tab {
    width: 72.708vw;
    min-width: 1396px;
    margin: 0 auto;
    padding: 0;
  }
}
